.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 20px; /*espacio de columnas*/
}
.formulario form{
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 8px 100px;
    flex:1;
}
.formulario h2{
                    /* valor minimo no se reducira a mas,2-valor referente ira variando segun tamaña, valor maximo no sobrepasara*/
    font-size: clamp(1.5,3vw,3.5);
    font-weight: 400px;
}
